{% extends "base.html" %}

{% block subnav %}

  <ul>
      <li><a href="{% url 'appv1:photo.upload' %}">Upload</a></li>
  </ul>

{% endblock %}

{% block content %}

  <ul>
      <li><a href="{% url 'appv1:photo.upload' %}">Upload</a></li>
  </ul>

{% endblock %}
