{% extends "photo.html" %}

{% block content %}

  <h2>
    Photos
  </h2>

  <form method="post" enctype="multipart/form-data">
  	{% csrf_token %}

	{{ form }}

  	<button type="submit">
		Upload
	</button>

  </form>
	  
  {% if uploaded_file_url %}
  	<p>
		File upload location: 
			<a href="{{ demo_file_url }}">
				{{ demo_file_url }}
			</a>
	</p>
  {% endif %}

{% endblock %}
