{% extends "photo.html" %}

{% block content %}

  <h2>
    Photo Edit
  </h2>

  <form method="post" enctype="multipart/form-data">
  	{% csrf_token %}

	<img src="{{ photo.image.url }}" alt="no image found" height="150" width="150">

	{{ form }}

  	<button type="submit">
		Edit
	</button>
  </form>

  <a href="{% url 'appv1:photo.preview' photo.id %}">
    preview
  </a>

{% endblock %}
