{% extends "photo.html" %}

{% block content %}

  <h2>
    Photo Preview
  </h2>

  {% if photo.author_id == user.id %}
  	<a href="{% url 'appv1:photo.edit' photo.id %}">edit</a>
  {% endif %} 

  <img src="{{ photo.image.url }}" alt="no image found" height="150" width="150">
  <span>Uploaded: {{ photo.uploaded_at }}</span>
  <span>User: {{ username }}</span>
  <p>
    {{ photo.description }}
  </p>

{% endblock %}

