{% extends "photo.html" %}

{% block content %}

  <h2>
    Photos
  </h2>

  {% if user.is_authenticated %}
      <a href="{% url 'appv1:photo.list' %}">Show all uploaded photos</a>
      <a href="?user={{ user.id }}">Show only my uploaded photos</a>
  {% endif %}

  <ul>
    {% for photo in photos %}
      <li>

	<a href="{% url 'appv1:photo.preview' photo.id %}">
          <img src="{{ photo.image.url }}" alt="no image found" height="40" width="40">
	</a>
      </li>
    {% endfor %}
  </ul>

  <div class="pagination">
      <span class="step-links">
	  {% if photos.has_previous %}
	      <a href="?page=1">&laquo; first</a>
	      <a href="?page={{ photos.previous_page_number }}">previous</a>
	  {% endif %}

	  <span class="current">
	      Page {{ photos.number }} of {{ photos.paginator.num_pages }}.
	  </span>

	  {% if photos.has_next %}
	      <a href="?page={{ photos.next_page_number }}">next</a>
	      <a href="?page={{ photos.paginator.num_pages }}">last &raquo;</a>
	  {% endif %}
      </span>
  </div>

{% endblock %}
