{% load static %}
{% load compress %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body class="{% block bodyclass %}{% endblock %}">

		<div id="root"></div>
		
		{% block nav %}
			<ul>
				<li><a href="{% url 'appv1:home' %}">Home</a></li>
				<li><a href="{% url 'appv1:photo.list' %}">Photos</a></li>
				{% if user.is_authenticated %}
					<li><a href="{% url 'appv1:user' %}">Profile</a></li>
				{% endif %}
			</ul>
		{% endblock %}

		{% block subnav %}
		{% endblock %}

        {% block content %}{% endblock %}

		{% if user.is_authenticated %}
		  Logged in as {{ user.username }}!
		  <p><a href="{% url 'logout' %}?next={% url 'appv1:home' %}">logout</a></p>
		{% else %}
		  <p>You are not logged in</p>
		  <a href="{% url 'login' %}?next={{request.path}}">login</a>
		{% endif %}
    </body>
</html>

