{% load static %}
{% load compress %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% compress css %}
        <link rel="stylesheet" href="{% static 'style/main.scss' %}" type="text/x-scss">
        {% endcompress %}
    </head>

    <body>
	<div id="root"></div>

        {% compress js %}
       	<script type="text/jsx" src="{% static 'script/app.js' %}"></script>
        {% endcompress %}
    </body>
</html>

