@import 'reset.scss';
@import 'spinner.scss';
@import 'typography.scss';
@import 'navbar.scss';
@import 'paginator.scss';
@import 'photo-list.scss';
@import 'photo-form.scss';
@import 'photo-preview.scss';

body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: arial;
  margin: 0 auto;
  box-sizing: border-box;
  background: #f8f8f8;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  background: #f8f8f8;
}

.content {
  height: 100%;
  width: 100%;
  max-width: 900px;
  box-sizing: border-box;
  background: #f8f8f8;
}
