.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: #0b193c;
}

.navbar__list {
  display: flex;
  flex-direction: row;
}

.navbar__list li {
  margin-left: 30px;
}

.navbar__link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.navbar__link:active {
  color: #0ccfff;
}

.navbar__link:hover {
  color: #0ccfff;
}


