.paginator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
}

.paginator__btn {
  all: unset;
  cursor: pointer;
  padding: 10px;
}

.paginator__btn:disabled {
  color: #ccc;
  cursor: default;
}

.paginator__text {
  padding: 10px;
}
