.photolist {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 20px 10px;
  box-sizing: border-box;
}

.photolist__header {
  box-sizing: border-box;
  color: #0b193c;
  padding-left: 0.5em;
}

.photolist__grid {
  padding: 40px 10px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 2em;
}

.photolist__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
  height: 100%;
}

.photolist__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.photolist__image-text {
  height: 20px;
  margin-top: 20px;
}

.photolist__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

img {
  display: block;
}

@supports (display: grid) {
  .photolist__item {
    margin: 0;
  }
}
