.photo-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  box-sizing: border-box;
}

.photo-form__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 600px;
  background: #fff;
  margin-top: 40px;
  padding: 0 40px 40px 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .photo-form__card {
    width: 100%;
    min-width: 0;
  }
}

.photo-form__title {
  margin-bottom: 10px;
}

.photo-form__form {
  width: 100%;
}

.photo-form__form_input {
  padding: 8px 0 8px 10px;
  width: 100%;
}

.photo-form__form_textarea {
  padding: 8px 0 8px 10px;
  width: 100%;
  height: 200px;
}

.margin-top {
  margin-top: 10px;
}

.photo-form__label {
  margin-bottom: 10px;
}

.photo-form__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.photo-form__submit-btn {
  background: #0ccfff;
  color: white;
  border: 0;
  padding: 10px 20px 10px 20px;
  margin-right: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.photo-form__cancel-btn {
  background: #ccc;
  color: white;
  border: 0;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}
