.preview {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 20px 10px;
  box-sizing: border-box;
}

.preview__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5em;
  width: 100%;
}

.preview__title {
  box-sizing: border-box;
  color: #0b193c;
}

.preview__image {
  padding: 20px 5px;
  box-sizing: border-box;

  width: 100%;
  height: auto;
}

.preview__description {
  display: border-box;
  padding: 0 10px;
}

.preview__edit-btn {
  background: #0ccfff;
  color: white;
  display: block;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 15px;
  margin-right: 15px;
  text-decoration: none;
  border-radius: 5px;
}

.primary-color {
  color: #0ccfff;
}

.accent-color {
  color: #0b193c;
}

.thick-divider {
  font-weight: 700;
  color: #ccc;
}
