h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0em;
}

h2 {
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 0em;
}

h3 {
  font-size: 1.125em;
  line-height: 1.3333em;
  margin-top: 1.3333em;
  margin-bottom: 0em;
}

h4 {
  font-size: 0.875em;
  line-height: 1.7143em;
  margin-top: 1.7143em;
  margin-bottom: 0em;
}

h5 {
  font-size: 0.8125em;
  line-height: 1.8462em;
  margin-top: 1.8462em;
  margin-bottom: 0em;
}

h6 {
  font-size: 0.5625em;
  line-height: 2.6667em;
  margin-top: 2.6667em;
  margin-bottom: 0em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-left: 0;
  margin-right: 0;
}

p {
  display: block;
  font-size: 1em;
  line-height: 1.5;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
